@import "~antd/dist/antd.css";

.ant-btn-primary {
  background-color: #3fc060;
  border-color: #3fc060;
}
.ant-btn-primary:focus {
  background-color: #3fc060;
  border-color: #3fc060;
}
.ant-btn-primary:hover {
  background-color: #3fc060;
  border-color: #3fc060;
}
.ant-pagination-item-active a {
  color: #3fc060;
}
a {
  color: #3fc060;
}
.ant-pagination-item-active {
  color: #3fc060;
  border-color: #3fc060;
}
